.main {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  opacity: 0.9;
  color: seashell;
  margin: 75px 125px;
  width: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.header {
  display: flex;
  border-bottom: 1px solid seashell;
  min-height: 69px;
  justify-content: space-between;
  width: 1300px;
}
#logo {
  margin: 10px;
  max-height: 50px;
  display: flex;
  align-items: flex-start;
}
#nav {
  display: inline-flex;
  list-style-type: none;
  justify-content: flex-end;
}
.nav_items {
  text-decoration: underline;
  margin: 20px;
}
#mission {
  background-image: url(../images/msnbackground.jpg);
  width: 1200px;
  height: 700px;
  margin: 0px 50px 20px 50px;
  display: flex;
  align-items: center;
}
.section {
  background-color: black;
}
#sec1 {
  display: flex;
  width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center {
  width: 1000px;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  padding: 10px 2px;
}
.description {
  text-align: center;
  margin-top: 10px;
}
.figsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fig {
  margin: 15px;
}
#lastdiv {
  height: 550px;
  width: 1200px;
  background-image: url(../images/img-locations-background.jpg);
}
#location {
  margin-top: 100px;
}
.locsection {
  width: 300px;
  background-color: black;
  margin-right: 40px;
  opacity: 1;
}
.sections {
  display: flex;
  justify-items: center;
  justify-content: center;
}
h3 {
  color: seashell;
  text-align: center;
}
h4 {
  text-align: center;
  font-weight: bold;
}
#lastheading {
  font-weight: bolder;
  margin-top: auto;
}
.fdiv {
  height: 200px;
}
h5 {
  text-align: center;
}
p {
  width: 100%;
  margin-left: 20px;
  text-align: left;
}
